<div class="intro">
</div>

<div class="etf_1">
  <ul>
    <li>Performance over 1-Year: <%= session[:etf_1][:one_yr_return] %></li>
    <li>Expense Ratio: <%= session[:etf_1][:exp_ratio] %></li>
    <li>Annual Dividend Yield: <%= session[:etf_1][:div_yield]%></li>
    <li>3-Month Average Daily Volume: <%= session[:etf_1][:volume]%></li>
    <li>Assets Under Management: <%= session[:etf_1][:aum] %></li>
    <li>Inception Date: <%= session[:etf_1][:date] %></li>
    <li>Issuer: <%= session[:etf_1][:issuer] %></li>
  </ul>
</div>

<div class="etf_2">
  <ul>
    <li>Performance over 1-Year: <%= session[:etf_2][:one_yr_return] %></li>
    <li>Expense Ratio: <%= session[:etf_2][:exp_ratio] %></li>
    <li>Annual Dividend Yield: <%= session[:etf_2][:div_yield]%></li>
    <li>3-Month Average Daily Volume: <%= session[:etf_2][:volume]%></li>
    <li>Assets Under Management: <%= session[:etf_2][:aum] %></li>
    <li>Inception Date: <%= session[:etf_2][:date] %></li>
    <li>Issuer: <%= session[:etf_2][:issuer] %></li>
  </ul>
</div>

<div class="etf_3">
  <ul>
    <li>Performance over 1-Year: <%= session[:etf_3][:one_yr_return] %></li>
    <li>Expense Ratio: <%= session[:etf_3][:exp_ratio] %></li>
    <li>Annual Dividend Yield: <%= session[:etf_3][:div_yield]%></li>
    <li>3-Month Average Daily Volume: <%= session[:etf_3][:volume]%></li>
    <li>Assets Under Management: <%= session[:etf_3][:aum] %></li>
    <li>Inception Date: <%= session[:etf_3][:date] %></li>
    <li>Issuer: <%= session[:etf_3][:issuer] %></li>
  </ul>
</div>
