<div class="headings">
  <h2>Headings</h2>
  <p><b>HEADING:</b> Best <%= session[:type] %> ETFs for <%= session[:period] %></p>
  <p><b>SUBHEADING:</b> <%= session[:etf_1][:ticker] %>, <%= session[:etf_2][:ticker] %>, and <%= session[:etf_3][:ticker] %> are the best <%= session[:type].downcase %> ETFs for <%= session[:period] %></p>
  <p><b>SOCIAL TITLE:</b> Best <%= session[:type] %> ETFs for <%= session[:period] %></p>
  <p><b>META TITLE:</b> Best <%= session[:type] %> ETFs for <%= session[:period] %></p>
  <p><b>META DESCRIPTION:</b> The best <%= session[:type].downcase %> ETFs for <%= session[:period] %> are <%= session[:etf_1][:ticker] %>, <%= session[:etf_2][:ticker] %>, and <%= session[:etf_3][:ticker] %>.</p>
</div>
<div class="intro">
  <h2>Intro</h2>
  <h4><b>Key Takeaways</b></h4>
  <p>
    <ul>
      <li>The <%= session[:type].downcase %> sector [optional: slightly/significantly] [outperformed/underperformed] the broader market over the past year.</li>
      <li>The ETFs with the best 1-year trailing total return are <%= session[:etf_1][:ticker] %>, <%= session[:etf_2][:ticker] %>, and <%= session[:etf_3][:ticker] %>.</li>
      <li>The top holdings of these ETFs are <%= session[:etf_1][:etf_holdings][0][0].gsub(/ (Inc|Ltd|Co|Plc|Corp)$/, '') %>, <%= session[:etf_2][:etf_holdings][0][0].gsub(/ (Inc|Ltd|Co|Plc|Corp)$/, '') %>, and <%= session[:etf_3][:etf_holdings][0][0].gsub(/ (Inc|Ltd|Co|Plc|Corp)$/, '') %>, respectively.</li>
    </ul>
  </p>
  <p>
    The <%= session[:type].downcase %> ETF universe is comprised of about <%= session[:num_etfs] %> distinct ETFs that trade in the U.S., excluding inverse and leveraged ETFs, as well as funds with less than $... million in <a href="https://www.investopedia.com/terms/a/aum.asp">assets under management (AUM)</a>. The <%= session[:type].downcase %> sector, as measured by the <%= session[:sector_index] %>, has ... the broader market with a total return of <%= session[:sector_performance] %> over the past 12 months compared to the <%= session[:market_index] %>'s total return of <%= session[:market_performance] %> (YCharts. "<a href="https://ycharts.com/">Financial Data</a>." Accessed <%= date[:month][0..2] %>. <%= date[:day] %>, <%= date[:year] %>.). The best-performing <%= session[:type].downcase %> ETF for <%= session[:period] %>, based on performance over the past year, is the <%= session[:etf_1][:name] %> (<a href="https://www.investopedia.com/markets/quote?tvwidgetsymbol=<%= session[:etf_1][:ticker] %>"><%= session[:etf_1][:ticker] %></a>). We examine the top 3 best <%= session[:type].downcase %> ETFs below. All numbers below are as of <%= date[:month] %> <%= date[:day] %>, <%= date[:year] %>.
  </p>
  <h4>???Warning block for Leveraged ETFs/AUM under ...??? (Check Blueprint)</h4>
</div>

<div class="etf_1">
  <h2><%= session[:etf_1][:name] %> (<a href="https://www.investopedia.com/markets/quote?tvwidgetsymbol=<%= session[:etf_1][:ticker] %>"><%= session[:etf_1][:ticker] %></a>)</h2>
  <ul>
    <li>Performance over 1-Year: <%= session[:etf_1][:one_yr_return] %></li>
    <li>Expense Ratio: <%= session[:etf_1][:exp_ratio] %></li>
    <li>Annual Dividend Yield: <%= session[:etf_1][:div_yield]%></li>
    <li>3-Month Average Daily Volume: <%= session[:etf_1][:volume]%></li>
    <li>Assets Under Management: <%= session[:etf_1][:aum] %></li>
    <li>Inception Date: <%= session[:etf_1][:date] %></li>
    <li>Issuer: <%= session[:etf_1][:issuer] %></li>
  </ul>
  <p><%= etf_holdings_sentence(:etf_1) %></p>
  <p>ETFdb.com. "<a href="https://etfdb.com/etf/<%= session[:etf_1][:ticker] %>/#etf-ticker-profile"><%= session[:etf_1][:name] %></a>." Accessed <%= date[:month][0..2] %>. <%= date[:day] %>, <%= date[:year] %>.</p>
</div>

<div class="etf_2">
  <h2><%= session[:etf_2][:name] %> (<a href="https://www.investopedia.com/markets/quote?tvwidgetsymbol=<%= session[:etf_2][:ticker] %>"><%= session[:etf_2][:ticker] %></a>)</h2>
  <ul>
    <li>Performance over 1-Year: <%= session[:etf_2][:one_yr_return] %></li>
    <li>Expense Ratio: <%= session[:etf_2][:exp_ratio] %></li>
    <li>Annual Dividend Yield: <%= session[:etf_2][:div_yield]%></li>
    <li>3-Month Average Daily Volume: <%= session[:etf_2][:volume]%></li>
    <li>Assets Under Management: <%= session[:etf_2][:aum] %></li>
    <li>Inception Date: <%= session[:etf_2][:date] %></li>
    <li>Issuer: <%= session[:etf_2][:issuer] %></li>
  </ul>
  <p><%= etf_holdings_sentence(:etf_2) %></p>
  <p>ETFdb.com. "<a href="https://etfdb.com/etf/<%= session[:etf_2][:ticker] %>/#etf-ticker-profile"><%= session[:etf_2][:name] %></a>." Accessed <%= date[:month][0..2] %>. <%= date[:day] %>, <%= date[:year] %>.</p>
</div>

<div class="etf_3">
  <h2><%= session[:etf_3][:name] %> (<a href="https://www.investopedia.com/markets/quote?tvwidgetsymbol=<%= session[:etf_3][:ticker] %>"><%= session[:etf_3][:ticker] %></a>)</h2>
  <ul>
    <li>Performance over 1-Year: <%= session[:etf_3][:one_yr_return] %></li>
    <li>Expense Ratio: <%= session[:etf_3][:exp_ratio] %></li>
    <li>Annual Dividend Yield: <%= session[:etf_3][:div_yield]%></li>
    <li>3-Month Average Daily Volume: <%= session[:etf_3][:volume]%></li>
    <li>Assets Under Management: <%= session[:etf_3][:aum] %></li>
    <li>Inception Date: <%= session[:etf_3][:date] %></li>
    <li>Issuer: <%= session[:etf_3][:issuer] %></li>
  </ul>
  <p><%= etf_holdings_sentence(:etf_3) %></p>
  <p>ETFdb.com. "<a href="https://etfdb.com/etf/<%= session[:etf_3][:ticker] %>/#etf-ticker-profile"><%= session[:etf_3][:name] %></a>." Accessed <%= date[:month][0..2] %>. <%= date[:day] %>, <%= date[:year] %>.</p>
</div>
