<div class="headings">
  <h2>Headings</h2>
  <ul>
    <li><b>HEADING:</b> Top <%= session[:type] %> Stocks for <%= session[:period] %></li>
    <li><b>SUBHEADING:</b> Top <%= session[:type] %> Stocks for <%= session[:period] %></li>
    <li><b>SOCIAL TITLE:</b></li>
    <li><b>META TITLE:</b> Top <%= session[:type] %> Stocks for <%= session[:period] %></li>
    <li><b>META DESCRIPTION:</b> These are the <%= session[:type].downcase %> stocks with the best value, fastest growth, and most momentum for <%= session[:period] %>.</li>
  </ul>
</div>

<div class="tickers">
</div>

<div class="intro">
  <h2>Intro</h2>
  <p>
    <%= session[:type] %> stocks, as represented by the <%= session[:sector_index] %>, have <%= compare_performance %> the broader market, providing investors with a total return of <%= session[:index_return] %> compared to the S&P 500's total return of <%= session[:sp500_return] %> over the past 12 months (YCharts. "<a href="https://ycharts.com/">Financial Data</a>," Accessed <%= date[:month][0..2] %>. <%= date[:day] %>, <%= date[:year] %>.). These market performance numbers and the statistics in the tables below are as of <%= date[:month] %> <%= date[:day] %>.
  </p>
  <p>
    <% if session[:earn_or_sales] == "E" %>
      Here are the top 3 <%= session[:type].downcase %> stocks with the best value, the fastest earnings growth, and the most momentum.
    <% else %>
      Here are the top 3 <%= session[:type].downcase %> stocks with the best value, the fastest sales growth, and the most momentum.
    <% end %>
  </p>
</div>

<div class="value">
  <h2>Best Value <%= session[:type] %> Stocks</h2>
  <div class="value_intro">
    <p>
      <% if session[:earn_or_sales] == "E" %>
        These are the <%= session[:type].downcase %> stocks with the lowest 12-month trailing price-to-earnings (P/E) ratio. Because profits can be returned to shareholders in the form of dividends and buybacks, a low P/E ratio shows you’re paying less for each dollar of profit generated.
      <% else %>
        These are the <%= session[:type].downcase %> stocks with the lowest 12-month trailing price-to-sales (P/S) ratio. For young companies that have not reached profitability, this can provide an idea of how much business you’re getting for each dollar invested.
      <% end %>
    </p>
  </div>
  <div class="table">
    <p>Company 1</p>
    <p>Company 2</p>
    <p>Company 3</p>
    <p><em>Source: <a href="https://ycharts.com/">YCharts</a></em></p>
  </div>
  <div class="bullets">
    <ul>
      <li><b>Company 1:</b></li>
      <li><b>Company 2:</b></li>
      <li><b>Company 3:</b></li>
    </ul>
  </div>
</div>

<div class="growth">
  <h2>Fastest Growing <%= session[:type] %> Stocks</h2>
  <div class="growth_intro">
    <p>
      <% if session[:earn_or_sales] == "E" %>
        These are the <%= session[:type].downcase %> stocks with the highest year-over-year (YOY) earnings per share (EPS) growth for the most recent quarter. Rising earnings show that a company’s business is growing and is generating more money that it can reinvest or return to shareholders.
      <% else %>
        These are the <%= session[:type].downcase %> stocks with the highest year over year (YOY) sales growth for the most recent quarter. Rising sales show that a company’s business is growing. This is often used to measure growth of young companies that have not yet reached profitability.
      <% end %>
    </p>
  </div>
  <div class="table">
    <p>Company 1</p>
    <p>Company 2</p>
    <p>Company 3</p>
    <p><em>Source: <a href="https://ycharts.com/">YCharts</a></em></p>
  </div>
  <div class="bullets">
    <ul>
      <li><b>Company 1:</b></li>
      <li><b>Company 2:</b></li>
      <li><b>Company 3:</b></li>
    </ul>
  </div>
</div>

<div class="momentum">
  <h2><%= session[:type] %> Stocks with the Most Momentum</h2>
  <div class="momentum_intro">
    <p>
      These are the <%= session[:type].downcase %> stocks that had the highest total return over the last 12 months.
    </p>
  </div>
  <div class="table">
    <p>Company 1</p>
    <p>Company 2</p>
    <p>Company 3</p>
    <p><em>Source: <a href="https://ycharts.com/">YCharts</a></em></p>
  </div>
  <div class="bullets">
    <ul>
      <li><b>Company 1:</b></li>
      <li><b>Company 2:</b></li>
      <li><b>Company 3:</b></li>
    </ul>
  </div>
</div>

